.para  {
  font-size: 60px;
  text-align:  center;
  color: #1e1e1e;
  line-height: 800px;
  font-style: oblique;
}

body {
  background-image:url("img/wb.jpg");
  background-attachment:  fixed;
  background-size: cover;
  background-position: center;
}
